.login_page{
    display: flex;
    width:100%;
    justify-content:center;
    align-items: center;
    height:100vh;
    background: #f3f3f3;

.login_box{
    display: flex;
    width:100%;
    max-width:400px;
    background:#fff;
    padding:25px 25px;
    height:350px;
    border-radius: 8px;
    box-shadow: 10px 0px 33px -20px #ccc;
    flex-direction: column;
}
}